body {
    font-family: 'Roboto', sans-serif;
}
header , main , footer {
    width: 640px;
    margin: 1rem auto;
    border: 1px rgba(0, 0, 0, 0.25) solid;
    background-color: #CCCCFF;
    padding: 20px;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section {
    padding: 1rem;
    background-color: azure;
}